{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CCPS530-Flashie - Home{% endblock %}

{% block scripts %}
{{ super() }}

<script src='static/js/Chart.min.js'></script>


<style>
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

img {
    object-fit: cover;
    border: 2px solid #000;
}

</style>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
</script>
<script>
  // Global parameters:
  // do not resize the chart canvas when its container does (keep at 600x400px)
  Chart.defaults.global.responsive = true;

  var middletext = {
    beforeDraw: function (chart) {
      var width = chart.chart.width,
        height = chart.chart.height,
        ctx = chart.chart.ctx;

      ctx.restore();
      var fontSize = (height / 114).toFixed(2);
      ctx.font = fontSize + "em sans-serif";
      ctx.textBaseline = "middle";

      var text = {{ winpercent }} + "%",
      textX = Math.round((width - ctx.measureText(text).width) / 2),
      textY = height / 2;

      ctx.fillText(text, textX, textY);
      ctx.save();
    }
  };

  // define the chart data
  var killData = {
    labels: [{% for d in labels %}
            "Game {{d}}",
            {% endfor %}],
  datasets: [{
    label: 'kills',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for item in killsvalues %}
                   {{ item }},
            {% endfor %}],
    spanGaps: false
     }]
   }

  var deathData = {
    labels: [{% for d in labels %}
            "Game {{d}}",
            {% endfor %}],
  datasets: [{
    label: 'deaths',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for item in deathsvalues %}
                   {{ item }},
            {% endfor %}],
    spanGaps: false
     }]
   }

  var combinedKDdata = {
    labels: [{% for d in labels %}
            "Game {{d}}",
            {% endfor %}],
  datasets: [{
    label: '{{ legend }}',
    data: [{% for item in killsvalues %}
                   {{ item }},
            {% endfor %}],
            label: "Kills",
            borderColor: "#3e95cd",
            fill: false
    }, {
      data: [{% for item in deathsvalues %}
                   {{ item }},
            {% endfor %}],
            label: "Deaths",
            borderColor: "#8e5ea2",
            fill: false

    }]
   }

  // define the chart data
  var gpmcdata = {
    labels: [{% for item in labels %}
  "{{item}}",
    {% endfor %}],
  options: {
    scales: {
      xAxes: [
        {
          ticks: {
            display: false
          }
        }
      ],
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
    }
  },
  datasets: [{
    //label: '{{ legend }}',
    fill: true,
    lineTension: 0.1,
    backgroundColor: "#e1b12c",
    borderColor: "rgba(75,192,192,1)",
    borderCapStyle: 'butt',
    borderDash: [],
    borderDashOffset: 0.0,
    borderJoinStyle: 'miter',
    pointBorderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointBorderWidth: 1,
    pointHoverRadius: 5,
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: [{% for item in gpmdata %}
                   {{ item }},
  {% endfor %}],
    spanGaps: false
     }]
   }

  var winchartData = {
    labels: ["Win", "Loss"],
    datasets: [{
      label: 'Wins',
      backgroundColor: ["#27ae60", "#c0392b"],
      data: [{{ wins }}, {{ losses }}]
     }]
   }

  // get chart canvas
  var ctx = document.getElementById("myChart").getContext("2d");
  var ctx2 = document.getElementById("myChart2").getContext("2d");

  var gpmc = document.getElementById("gpmChart").getContext("2d");


  var winscanvas = document.getElementById("myChart3");
  var ctx3 = winscanvas.getContext("2d");

  var ctx4 = document.getElementById("myChart4").getContext("2d");

  // create the chart using the chart canvas
  var myChart = new Chart(ctx, {
    type: 'line',
    data: killData,
    options: {
      legend: {
        display: false
      }
    }
  });

  var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: deathData,
    options: {
      legend: {
        display: false
      }
    }
  });

  var myChart3 = new Chart(winscanvas, {
    type: 'doughnut',
    data: winchartData,
    plugins: middletext,
    options: {
      responsive: true,
      cutoutPercentage: 75,
      legend: {
        display: false
      }
    }
  });

  var myChart4 = new Chart(ctx4, {
    type: 'line',
    data: combinedKDdata,
  });

  var gpmChart = new Chart(gpmc, {
    type: 'bar',
    data: gpmcdata,
    options: {
      legend: {
        display: false
      }
    }
  });



</script>
{% endblock %}


{% block page_content %}


<!-- bar chart canvas element -->

<div class="container col-lg-12"><br><br></div>
<div class="container-fluid">
<div class="row" style="margin-bottom: 15px;">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <span class="border border-dark">
                  <img src="/static/uploads/{{ avatarimg }}" style="width: 200px; height: 200px;" class="img-rounded"/>
                  </span>
                </div>
                    <div class="container-fluid col-lg-6 col-md-6 col-sm-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h2>{{ sname }}</h2>
                                <h4>Group: {{ groupinfo[0][0] }}</h4>
                                <h4><a href="#" data-toggle="popover" data-content="{{ groupinfo[0][1] }}">Group Info</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="panel panel-info">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <h1 class = "display-3"></h1>
            <h1 class = "display-3"></h1>
            <h1 class = "display-3"></h1>
            <div class="row vdivide">
                <div class="col-sm-4 text-center"><h4>{{ kda }} KDA</h4></div>
                <div class="col-sm-4 text-center"><h4>Lane: {{ lanepref }}</h4></div>
                <div class="col-sm-4 text-center"><h4>Role: {{ rolepref }}</h4></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            Combined KD
          </div>
          <div class="panel-body">
            <canvas id="myChart4" width="800" height="450"></canvas>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Kill line chart
        </div>
        <div class="panel-body">
          <canvas id="myChart" width="800" height="450"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-success ">
        <div class="panel-heading">
          Death bar chart
        </div>
        <div class="panel-body">
          <canvas id="myChart2" width="800" height="450"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Win ratio
        </div>
        <div class="panel-body">
          <canvas id="myChart3" width="800" height="450"></canvas>
          <h3 style="text-align: center">{{ wins }} wins, {{ losses }} losses</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Gold per minute.
        </div>
        <div class="panel-body">
          <canvas id="gpmChart" width="800" height="450"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{{ wtf.quick_form(form) }}

<h1></h1>
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{% endblock %}